<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.0.0.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
   <!-- scrip que trae el mapa de la api-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0AiNvq4DZ--ZXeud1pUrHiXcCfcGbttk&callback=initMap">
    </script>
    <!--Estilos para el mapa-->
    <link href="../Content/Personal.css" rel="stylesheet" />

    <script src="../Scripts/App.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <!-- TODO: Ver como centrar título. Agregar una imágen, no un título -->
            <div style="color:white">
                DeliverEat (poner un logo o mejorar esto)
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row" style="margin:5px">
            <!-- TODO:  centrar todo -->
            <a style="margin:4px">Indique lo que el cadete debe buscar</a>
            <!-- TODO:  ver si agregar required -->
            <input type="text" name="buscar" class="fields" />

            <!-- Opcional de la imágen -->
            <!-- TODO:  centrar todo -->
            <a style="margin:4px">Cargue una imágen (Opcional)</a>
            <!-- TODO:  ver si agregar required -->
            <input type="text" name="search" class="fields" />
        </div>

        <!-- Comercio -->
        <div class="d-flex flex-column" style="margin:5px;">
            <!-- TODO:  centrar todo -->
            <a style="margin:4px">Dirección del comercio</a>
            <!-- TODO:  ver si agregar required -->
            <div class="border border-dark rounded row" style="width:100%; margin:auto;">
                <div class="d-flex flex-column" style="padding-top:10px">
                    <a style="min-height:30px" class="margin-on-form">Calle: </a>
                    <a style="min-height:30px" class="margin-on-form">Número: </a>
                    <a style="min-height:30px" class="margin-on-form">Ciudad: </a>
                    <a style="min-height:30px" class="margin-on-form">Referencia: </a>

                </div>
                <div class="d-flex flex-column" style="padding-top:10px">
                    <input type="text" name="street" class="margin-on-form col" />
                    <input type="text" name="number" class="margin-on-form col" />
                    <input type="text" name="city" class="margin-on-form col" />
                    <input type="text" name="reference" class="margin-on-form col" />
                </div>
                <div class="d-flex flex-column text-center" style="margin:inherit; padding:5px 0px 10px 0px">
                    <!-- TODO: boton que abre el modal y le pasa las ref del centro de cordoba -->
                    <button type="button" style="" class="btn btn-primary" data-toggle="modal" data-target="#MapaModal" data-lat="-31.4208233" data-long="-64.1887394">
                        Ubicar en Maps
                    </button>
                </div>



            </div>
        </div>

        <div class="modal fade" id="MapaModal" tabindex="-1" role="dialog" aria-labelledby="Ubicar en el Mapa" aria-hidden="true">
            <div class="modal-dialog" role="contentinfo">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titulo1">Ubica Manualmente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="map"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar Lugar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Direccion entrega -->
        <div class="d-flex flex-column" style="margin:5px;">
            <!-- TODO:  centrar todo -->
            <a style="margin:4px">Dirección de entrega</a>
            <!-- TODO:  ver si agregar required -->
            <div class="border border-dark rounded row" style="width:100%; margin:auto;">
                <div class="d-flex flex-column" style="padding-top:10px">
                    <a style="min-height:30px" class="margin-on-form">Calle: </a>
                    <a style="min-height:30px" class="margin-on-form">Número: </a>
                    <a style="min-height:30px" class="margin-on-form">Ciudad: </a>
                    <a style="min-height:30px" class="margin-on-form">Referencia: </a>

                </div>
                <div class="d-flex flex-column" style="padding-top:10px">
                    <input type="text" name="street" class="margin-on-form col" />
                    <input type="text" name="number" class="margin-on-form col" />
                    <input type="text" name="city" class="margin-on-form col" />
                    <input type="text" name="reference" class="margin-on-form col" />
                </div>
            </div>
        </div>


        <!-- Forma de pago Tarjeta -->
        <div class="row" style="margin:5px;">
            <!-- TODO:  centrar todo -->
            <a style="margin:4px">Forma de pago</a>
            <!-- TODO:  ver si agregar required -->
            <div class="border border-dark rounded" style="width:100%">
                <div style="margin:4px">
                    <select style="width:100%; margin:4px">
                        <option value="efectivo">Efectivo</option>
                        <option value="tarjeta">Tarjeta</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body>
</html>